<h1 mat-dialog-title *ngIf="diagCarg" [@subirAnimation]>
  {{title}}
</h1>

<div mat-dialog-content [@bajarAnimation] *ngIf="diagCarg">
  <p>{{message}}</p>
  <p>{{nombre}}</p>
</div>

<div mat-dialog-actions  *ngIf="diagCarg" [@derAIzAnimation]>
  <button class="ui-button ui-widget ui-corner-all ui-button-text-only ui-button-padding ui-buttongray marginauto" (click)="onConfirm()">{{'but.acept' | translate}} </button>
  <button class="ui-button ui-widget ui-corner-all ui-button-text-only ui-button-padding ui-buttongray marginauto" (click)="onDismiss()">{{'but.cancel' | translate}} </button>
</div>
