<h1 *ngIf="diagCarg" [@subirAnimation] mat-dialog-title>{{'crear.creartrab' | translate}} </h1>
<div *ngIf="diagCarg">
    <div mat-dialog-content [@bajarAnimationWait]>
        <p-messages  [(value)]="msgs"></p-messages>
        <form [formGroup]="regCrearTrab"  autocomplete="off" >
            <div class="p-md-4">
                <mat-form-field
                        [ngClass]="{ 'ng-invalid mat-form-field-invalid': submittedCrearTrab && regCrearTrab.controls.nombreTrabaj.errors }">
                    <input matInput type="text" formControlName="nombreTrabaj" appOnlyStrings
                           autocomplete="off"
                           autocorrect="off" [maxLength]="70" spellcheck="false"
                           placeholder="{{'crear.nombrecomp' | translate}}"
                           class=" ui-inputtext ui-inputcust ui-widget ui-input ui-inputdob">
                </mat-form-field>
            </div>
            <div class="p-md-4">
                <mat-form-field
                        [ngClass]="{ 'ng-invalid mat-form-field-invalid': submittedCrearTrab && regCrearTrab.controls.fecNac.errors }">
                    <input appOnlyDates type="text" inputmode="numeric"
                           class=" ui-inputtext ui-inputcust ui-widget ng-untouched autocomp"
                           placeholder="{{'crear.fechanac' | translate}}" matInput [matDatepicker]="FecNacPicker"
                           autocomplete="off" autocorrect="off" spellcheck="false"
                           formControlName="fecNac"
                           (dateChange)="validarFechaNac(regCrearTrab.controls.fecNac);">
                    <mat-datepicker-toggle matSuffix
                                           [for]="FecNacPicker"></mat-datepicker-toggle>
                    <mat-datepicker #FecNacPicker></mat-datepicker>
                </mat-form-field>

                <mat-form-field *ngIf="regCrearTrab.controls.edadMeses.value!==''" [@derAIzAnimation]
                        [ngClass]="{ 'ng-invalid mat-form-field-invalid': submittedCrearTrab && regCrearTrab.controls.edadMeses.errors }">
                    <input matInput type="text" formControlName="edadMeses"
                           autocomplete="off"
                           autocorrect="off" spellcheck="false"
                           placeholder="{{'crear.edad' | translate}}"
                           class=" ui-inputtext ui-inputcust ui-widget ui-input width140 nodisabled">
                </mat-form-field>
            </div>
            <div class="p-md-4">
                <mat-form-field
                        [ngClass]="{ 'ng-invalid mat-form-field-invalid': submittedCrearTrab && regCrearTrab.controls.direccion.errors }">

                    <!-- (-\d{1,3})(-\d{1,2}) -->
                    <input matInput type="text" formControlName="direccion" pattern="([a-zA-Z]{2,30}\s.{1,30}(-\d{1,3})[a-zA-Z]{0,1}(-\d{1,2})|[a-zA-Z]{2,30}\s.{1,30}(-\d{1,3})[a-zA-Z]{0,1}(-\d{1,2})\s.{0,30})"
                           autocomplete="off"
                           autocorrect="off" [maxLength]="70" spellcheck="false"
                           placeholder="{{'crear.direccion' | translate}}"
                           class=" ui-inputtext ui-inputcust ui-widget ui-input ui-inputdob">
                </mat-form-field>
            </div>
            <div class="p-md-4">
                <mat-form-field
                        [ngClass]="{ 'ng-invalid mat-form-field-invalid': submittedCrearTrab && regCrearTrab.controls.fecGrad.errors }">
                    <input appOnlyDates type="text" inputmode="numeric"
                           class=" ui-inputtext ui-inputcust ui-widget ng-untouched autocomp"
                           placeholder="{{'crear.fechagrad' | translate}}" matInput [matDatepicker]="FecGradPicker"
                           autocomplete="off" autocorrect="off" spellcheck="false"
                           formControlName="fecGrad"
                           (dateChange)="validarFechasGrad(regCrearTrab.controls.fecGrad);">
                    <mat-datepicker-toggle matSuffix
                                           [for]="FecGradPicker"></mat-datepicker-toggle>
                    <mat-datepicker #FecGradPicker></mat-datepicker>
                </mat-form-field>

                <mat-form-field *ngIf="regCrearTrab.controls.expAnios.value!==''" [@derAIzAnimation]
                                [ngClass]="{ 'ng-invalid mat-form-field-invalid': submittedCrearTrab && regCrearTrab.controls.expAnios.errors }">
                    <input matInput type="text" formControlName="expAnios"
                           autocomplete="off"
                           autocorrect="off" spellcheck="false"
                           placeholder="{{'crear.exp' | translate}}"
                           class=" ui-inputtext ui-inputcust ui-widget ui-input width140 nodisabled">
                </mat-form-field>
            </div>
            <div class="p-md-4">
                <mat-form-field
                        [ngClass]="{ 'ng-invalid mat-form-field-invalid': submittedCrearTrab && regCrearTrab.controls.email.errors }">
                    <input matInput type="text" formControlName="email"
                           autocomplete="off"
                           autocorrect="off" [maxLength]="70" spellcheck="false"
                           placeholder="{{'crear.email' | translate}}"
                           class=" ui-inputtext ui-inputcust ui-widget ui-input ui-inputdob">
                </mat-form-field>
            </div>
        </form>
    </div>
    <div mat-dialog-actions class="marginauto" [@derAIzAnimation]>
        <button mat-button appPreventDoubleClick
                class="ui-button ui-widget ui-corner-all ui-button-text-only ui-button-padding ui-buttongray marginauto"
                (click)="crear()">{{'but.crear' | translate}}</button>
        <button mat-button appPreventDoubleClick (click)="onNoClick()"
                class="ui-button ui-widget ui-corner-all ui-button-text-only ui-button-padding ui-buttongray marginauto"
                [mat-dialog-close]="data" cdkFocusInitial>{{'but.cancel' | translate}}</button>
    </div>
</div>
